doctype html 
html 
  head 
    title #{title}
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/admin/CSS/style.css")

  body 
    
    include ../partials/header.pug 

    div(class="body")
      include ../partials/sider.pug 
      div(class="main")
        block main

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    script(src="/tinymce/tinymce.min.js")
    script(src="/admin/JS/tinyMCE-config.js")
    script(src="/admin/JS/script.js")